/* Comment */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

a.socials {
  transition: transform 250ms;
  display: inline-block;
}

a.socials:hover {
  transform: translateY(-2px);
}

/* **************USERFORM************* */
#userFormContainer {
  height: 90vh;
  /* overflow: hidden; */
}

.form-image-container {
  width: 100%;
  margin: 2rem 0;
  padding: 1rem 0;
  border-bottom: 1px solid gray;
}

.form-image-container .form-image {
  display: block;
  margin-bottom: 20px;
}

/* *****************SIDEBAR****************** */
#general-container {
  width: 100%;

  position: relative;
  display: flex;
  /* overflow: hidden; */
}

.sideBar {
  height: 95vh;
  width: 5vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 30px 30px 0 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.sideBar-ul {
  background-color: #e49b9b;
  padding: 10px;
  border-radius: 20px 0 0 20px;
}
.sideBar-ul li {
  padding: 10px 0;
  transform: rotate(-90deg);
}

.dashboard-content {
  width: 100vw;
  height: 95vh;
  border-radius: 30px;
  background-color: cadetblue;
  display: grid;
  grid-template-columns: 2.5fr 0.8fr 1.5fr;
  grid-gap: 10px;
  background: linear-gradient(90deg, #e49b9b, #af8dca);
  /* z-index: 2; */
}

/* **********SECTION 1********** */
.dashboard-sect-one {
  padding: 10px 0 0 50px;
  border-radius: 30px 0 0 30px;
  overflow: hidden;
  border: 10px solid;
  /* display: flex;
  text-align: center; */
}

/* **********SECTION 2********** */
.dashboard-sect-two {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.popularUser-container {
  padding: 2rem 0;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popularUser-filtered {
  display: flex;
  flex-direction: column;
}

.top-popularUsers {
  width: 100%;
  height: 12rem;
  margin: 1rem 0;
}
.top-popularUsers img {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}
.popularUser-socialLinks {
  display: flex;
  flex-direction: column;
}
.popularUser-socialLinks h2 {
  margin: 1rem 0;
}
.social-links {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

/* **********SECTION 3********** */
.dashboard-sect-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px 30px 30px 0;
  background-color: rgb(255, 255, 255);
}

.sect-three-mainImg {
  /* overflow: hidden; */
  margin-top: 2rem;
  width: 80%;
  height: 48vh;
}
.sect-three-mainImg img {
  border-radius: 50px;
  width: 100%;
  height: 100%;
}

.following-container {
  width: 80%;
  height: 40vh;
  /* height: 495px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  overflow: scroll;
}
.sect-three-myFollowing {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}
.myFollowing-img {
  width: 9rem;
  height: 9rem;
}
.myFollowing-img img {
  border-radius: 4.5rem;
  width: 100%;
  height: 100%;
}
.myFollowing-info {
  font-weight: bold;
}
.myFollowing-addBtn {
  background-color: #83c7c7;
  padding: 10px 30px;
  border-radius: 5px;
}
.myFollowing-rmvBtn {
  background-color: #d16363;
  padding: 10px 30px;
  border-radius: 5px;
}
/* **********RESUME DASHBOARD********** */

#resumeContainer {
  width: 90vw;
  height: auto;
  /* overflow: scroll; */
  position: relative;
  left: 3.5vw;
  display: grid;
  grid-column: 3fr 1fr 2fr;
  /* background-color: rgb(207, 205, 255); */
}

#resumeContainer header {
  display: flex;
  width: 20vw;
  margin: 0 3rem 0;
}

#resumeContainer header img {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  border-radius: 50%;
}

#resumeContainer header .textHeader {
  text-align: left;
}
#resumeContainer header .textHeader p:nth-child(2) {
  margin-top: 20px;
}
