/* .App {
  font-family: sans-serif;
  text-align: center;
} */
.main-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 50px;
}
.food-img img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.food-img {
  margin-left: 50px;
}
.title h1 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 70px;
  margin-left: 30px;
}
.food-img span {
  font-weight: bold;
  font-size: 1.3rem;
  border: 1px solid black;
  padding: 3px;
}
.main-container {
  display: flex;
  height: 70vh;
  justify-content: space-between;
  flex-direction: column;
}

.Card {
  width: 50vw;
  height: 80vh;
  background: white;
  border-radius: 30px;
  text-align: center;
  line-height: 30px;
  color: black;
  border: 1px solid;
  padding: 15px;
  animation: animated-border 1.5s infinite;
}
@keyframes animated-border {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 6, 6, 0.4);
  }
  100% {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
  }
}
.upper-container {
  height: 100px;
}
.Card-btn {
}
.follow-btn {
  padding: 5px 25px;
  border-radius: 5px;
  background-color: coral;
  margin-right: 30px;
}
.follow-btn:hover {
  background-color: brown;
}
.unfollow-btn {
  padding: 5px 25px;
  border-radius: 5px;
  background-color: coral;
}
.unfollow-btn:hover {
  background-color: brown;
}
.image-container img {
  background: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(95px, 45px);
}
.image-container {
  display: flex;
}

/* SOCIAL STUFF */
.social-container {
  background: #eee;
  padding: 25px 50px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}
